@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(/fonts/GT-Walsheim-Pro-Regular.eot) format("eot"),
    url(/fonts/GT-Walsheim-Pro-Regular.otf) format("otf"),
    url(/fonts/GT-Walsheim-Pro-Regular.ttf) format("ttf"),
    url(/fonts/GT-Walsheim-Pro-Regular.woff) format("woff"),
    url(/fonts/GT-Walsheim-Pro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Walsheim";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url(/fonts/GT-Walsheim-Pro-Medium.eot) format("eot"),
    url(/fonts/GT-Walsheim-Pro-Medium.otf) format("otf"),
    url(/fonts/GT-Walsheim-Pro-Medium.ttf) format("ttf"),
    url(/fonts/GT-Walsheim-Pro-Medium.woff) format("woff"),
    url(/fonts/GT-Walsheim-Pro-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Walsheim";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    url(/fonts/GT-Walsheim-Pro-Regular-Oblique.eot) format("eot"),
    url(/fonts/GT-Walsheim-Pro-Regular-Oblique.otf) format("otf"),
    url(/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf) format("ttf"),
    url(/fonts/GT-Walsheim-Pro-Regular-Oblique.woff) format("woff"),
    url(/fonts/GT-Walsheim-Pro-Regular-Oblique.woff2) format("woff2");
}

@font-face {
  font-family: "Walsheim";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    url(/fonts/GT-Walsheim-Pro-Medium-Oblique.eot) format("eot"),
    url(/fonts/GT-Walsheim-Pro-Medium-Oblique.otf) format("otf"),
    url(/fonts/GT-Walsheim-Pro-Medium-Oblique.ttf) format("ttf"),
    url(/fonts/GT-Walsheim-Pro-Medium-Oblique.woff) format("woff"),
    url(/fonts/GT-Walsheim-Pro-Medium-Oblique.woff2) format("woff2");
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: "Walsheim", Arial;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000009;

  font-variant-numeric: "tabular-nums";
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  border: none;
  outline: none;
  background: white;
  color: black;
  font-family: inherit;
}
